In [7]:
integer_var = 42
float_var = 3.14
string_var = "Hello, World!"
boolean_var = True
print("Integer variable:", integer_var, "Type:", type(integer_var))
print("Float variable:", float_var, "Type:", type(float_var))
print("String variable:", string_var, "Type:", type(string_var))
print("Boolean variable:", boolean_var, "Type:", type(boolean_var))

Integer variable: 42 Type: <class 'int'>
Float variable: 3.14 Type: <class 'float'>
String variable: Hello, World! Type: <class 'str'>
Boolean variable: True Type: <class 'bool'>

Day-1

In [12]:
my_list = [10, 20, 30, 40, 50]
print("List example:")
print("First element:", my_list[0])      
print("Third element:", my_list[2])      
print("Last element:", my_list[-1])     
print("\n")
my_tuple = (1, 2, 3, 4, 5)
print("Tuple example:")
print("Second element:", my_tuple[1])    
print("Fourth element:", my_tuple[3])    
print("Last element:", my_tuple[-1])    

print("\n")
my_dict = {
    'name': 'John',
    'age': 30,
    'city': 'New York',
    'job': 'Engineer',
    'salary': 75000
}
print("Dictionary example:")
print("Name:", my_dict['name'])     
print("Age:", my_dict['age'])             
print("Job:", my_dict['job'])

List example:
First element: 10
Third element: 30
Last element: 50


Tuple example:
Second element: 2
Fourth element: 4
Last element: 5


Dictionary example:
Name: John
Age: 30
Job: Engineer

Day-2

In [17]:
subject1 = float(input("Enter marks for subject 1: "))
subject2 = float(input("Enter marks for subject 2: "))
subject3 = float(input("Enter marks for subject 3: "))

average = (subject1 + subject2 + subject3) / 3

if average >= 90:
    print("Grade: A")
elif 80 <= average < 90:
    print("Grade: B")
elif 70 <= average < 80:
    print("Grade: C")
else:
    print("Grade: Fail")

Enter marks for subject 1:  80
Enter marks for subject 2:  90
Enter marks for subject 3:  80

Grade: B

Day-3

In [20]:
n = int(input("Enter a positive integer: "))
even_sum = 0
for i in range(1, n + 1):
    if i % 2 == 0:  
        even_sum += i  
print("The sum of all even numbers between 1 and", n, "is:", even_sum)

Enter a positive integer:  20

The sum of all even numbers between 1 and 20 is: 110

Day-4

In [23]:
n = int(input("Enter a positive integer: "))
print("\nNumbers from 1 to", n, "using a for loop:")
for i in range(1, n + 1):
    print(i)
sum_of_numbers = 0
i = 1
while i <= n:
    sum_of_numbers += i
    i += 1

print("\nThe sum of all numbers from 1 to", n, "is:", sum_of_numbers)

Enter a positive integer:  10

Numbers from 1 to 10 using a for loop:
1
2
3
4
5
6
7
8
9
10

The sum of all numbers from 1 to 10 is: 55

In [25]:
def calculate_square(n):
    return n * n 
n = int(input("Enter a positive integer: "))
square = calculate_square(n)
print("The square of", n, "is:", square)

Enter a positive integer:  15

The square of 15 is: 225

Day-5

In [28]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [30]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
print("\n")
df['Bonus'] = df['Salary'] * 0.10
print("DataFrame with the 'Bonus' column:")
print(df)
print("\n")
average_salary = df['Salary'].mean()
print(f"The average salary of employees is: {average_salary:.2f}")
print("\n")
employees_older_than_25 = df[df['Age'] > 25]
print("Employees who are older than 25:")
print(employees_older_than_25)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000


DataFrame with the 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0


The average salary of employees is: 47500.00


Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

Day-6